
<div class="bgcolor_3">
  <h4><b>AHLI LEMBAGA PENGARAH PENGANGKUTAN AWAM PUTRAJAYA SDN BHD</b></h4>
</div>

<br>
<div>
  <img class="img-responsive center-block" src="img/pengarah.jpg">
</div>
<br>
<div>
  <p><b>Dari Kiri Ke Kanan</b>
    <br>
    <br>Datuk Mahiran binti Md Isa, Dato’ Norasni binti Ayob, En. Hisamudin bin Yahaya, Tan Sri Dato’ Seri (Dr.) Aseh bin Hj. Che Mat (Pengerusi), Dato’ Omar bin Osman, Dato’ Musa bin Muhamad, Dato’ Hj. Rogaizat bin Abdullah, Tn. Ir Hj. Ab Rahim bin Md Junoh.</p>
  </div>
