
<div class="row">
  <div class="col-xs-6">
    <div class="bgcolor_3 centertext">
      <h4><b>VISI</b></h4>
      <br>
        <p>Menjadikan PAPSB sebagai peneraju sistem pengangkutan awam yang berdaya saing dan terunggul di rantau ini</p>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="bgcolor_2 centertext">
      <h4><b>MISI</b></h4>
      <br>
      <p>Menyediakan perkhidmatan sistem pengangkutan awam yang kondusif, berkualiti, selamat dan mesra pelanggan
      </p>
    </div>
  </div>
  <br>
  <div class="col-sm-12">
    <div class="bgcolor_1">
      <h4><b>OBJEKTIF</b></h4>
      <ul>
        <br>
        <li>Untuk mengurangkan kos operasi dan meningkatkan hasil / pendapatan syarikat</li>
        <li>Untuk menyelaraskan operasi semasa dan mengoptimumkan sumber sedia ada</li>
        <li>Untuk mengukuhkan sumber kewangan melalui pelbagai aktiviti perniagaan</li>
        <li>Penjenamaan semula syarikat</li>
      </ul>

    </div>
  </div>
</div>
