
<div class="row">
  <div class="col-xs-6">
    <div class="bgcolor_3">
      <h4><b>VISI</b></h4>
      <br>
      <div>
        <p>MENJADIKAN PAPSB SEBAGAI PENERAJU SISTEM PENGANGKUTAN AWAM YANG BERDAYA SAING DAN TERUNGGUL DI RANTAU INI
        </p>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="bgcolor_2">
      <h4><b>MISI</b></h4>
      <br>
      <p>MENYEDIAKAN PERKHIDMATAN SISTEM PENGANGKUTAN AWAM YANG KONDUSIF, BERKUALITI, SELAMAT DAN MESRA PELANGGAN
      </p>
    </div>
  </div>
  <br>
  <div class="col-sm-12">
    <div class="bgcolor_1">
      <h4><b>OBJEKTIF</b></h4>
      <ul>
        <br>
        <li>UNTUK MENGURANGKAN KOS OPERASI DAN MENINGKATKAN HASIL / PENDAPATAN SYARIKAT.</li>
        <li>UNTUK MENYELARASKAN OPERASI SEMASA DAN MENGOPTIMUMKAN SUMBER SEDIA ADA.</li>
        <li>UNTUK MENGUKUHKAN SUMBER KEWANGAN MELALUI PELBAGAI AKTIVITI PERNIAGAAN.</li>
        <li>PENJENAMAAN SEMULA SYARIKAT.</li>
      </ul>

    </div>
  </div>
</div>
