<div class="col-sm-3">
  <div class="nav-sidebar">
    <!-- fa fa-caret-right -->
    <ul class="nav nav-pills nav-stacked">
      <li ui-sref-active="active"><a ui-sref=".about-us"><i class="fa fa-caret-right">&nbsp;</i> Mengenai PAPSB</a></li>
      <li ui-sref-active="active"><a ui-sref=".visi"><i class="fa fa-caret-right">&nbsp;</i> Visi, Misi dan Objektif</a></li>
      <!-- <li ui&#45;sref&#45;active="active"><a ui&#45;sref=".pengarah"><i class="fa fa&#45;caret&#45;right">&#38;nbsp;</i> Lembaga Pengarah</a></li> -->
      <!-- <li ui&#45;sref&#45;active="active"><a ui&#45;sref=".carta"><i class="fa fa&#45;caret&#45;right">&#38;nbsp;</i> Carta Organisasi</a></li> -->
    </ul>
  </div>
</div>

<div class="col-sm-9" ui-view>
</div>
