
<div class="row">
  <div class="col-xs-6">
    <h4 class="kad-perkhidmatan-bas">VISI</h4>
    <p>Menjadikan PAPSB sebagai peneraju sistem pengangkutan awam yang berdaya saing dan terunggul di rantau ini</p>
  </div>
  <div class="col-xs-6">
    <h4 class="kad-park-and-ride">MISI</h4>
    <p>Menyediakan perkhidmatan sistem pengangkutan awam yang kondusif, berkualiti, selamat dan mesra pelanggan</p>
  </div>
  <br>
  <div class="col-sm-12">
    <h4 class="kad-pengiklanan">OBJEKTIF</h4>
    <ul class="text">
      <li>Untuk mengurangkan kos operasi dan meningkatkan hasil / pendapatan syarikat</li>
      <li>Untuk menyelaraskan operasi semasa dan mengoptimumkan sumber sedia ada</li>
      <li>Untuk mengukuhkan sumber kewangan melalui pelbagai aktiviti perniagaan</li>
      <li>Penjenamaan semula syarikat</li>
    </ul>
  </div>
</div>
