<!-- views/footer.html -->
  <footer class="row">
    <div class="col-sm-4 col-xs-12">
      <div class="footer contact">
        <div class="footer-heading">
          <i class="glyphicon glyphicon-map-marker"></i><h4>ALAMAT</h4>
        </div>
        <h5>PENGANGKUTAN AWAM PUTRAJAYA SDN BHD</h5>
        <p>
          Depoh Putrajaya <br>
          Jalan P9, Presint 9 <br>
          62250 Wilayah Persekutuan Putrajaya
        </p>
        <p>
          Telefon: &nbsp;03-8890 4788 <br>
          Fax: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;03-8890 5788 <br>
          E-mel: &nbsp;&nbsp;&nbsp;basputrajaya@papsb.com.my
        </p>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="footer recent">
        <div class="footer-heading">
          <i class="glyphicon glyphicon-time"></i><h4>TERDAHULU</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="footer media-sosial">
        <div class="footer-heading">
          <i class="glyphicon glyphicon-user"></i><h4>MEDIA SOSIAL</h4>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="copyright">
       <p>Hak cipta terpelihara &copy; 2014. Pengangkutan Awam Putrajaya Sdn. Bhd.</p>
     </div>
   </div>
 </footer>
