  <header class="row" ng-controller="HeaderCtrl as vm">
    <div class="col-xs-12 col-sm-6">
      <div class="logo">
        <h1><a ui-sref="home"><img src="img/logo-nadiputra-notext.png" width="180px"></a></h1>
        <p>PENGANGKUTAN AWAM PUTRAJAYA TRAVEL &amp; TOURS SDN BHD <small class="hidden-sm">(483956&#8209;P)</small></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="hotline text hidden-xs">
        <p>
          <span>019-282 2280</span><br>
          <span>03-8887 7787</span><br>
          <span>info@papsb.com.my</span>
        </p>
      </div>
      <div class="hotline heading hidden-xs">
        <p>
          <i class="glyphicon glyphicon-phone-alt"></i>HOTLINE<br>
          <br>
          <i class="glyphicon glyphicon-envelope"></i>E-MEL
        </p>
      </div>
      <div class="hotline ppj hidden-sm hidden-xs">
        <img src="img/logo-ppj-anak-syarikat.png" alt="anak syarikat perbadanan putrajaya" width="150px">
      </div>
    </div>
    <div class="col-xs-12 nopadding">
      <ul class="bxslider">
        <li><img src="img/slider/2.jpg" alt=""></li>
        <!-- <li><img src="img/slider/2.jpg" alt=""></li> -->
      </ul>
    </div>
  </header>
