  <header class="row" ng-controller="HeaderCtrl as vm">
    <div class="col-xs-12 col-sm-6">
      <div class="logo">
        <h1><a ui-sref="home"><img src="img/logo-nadiputra-notext.png" width="180px"></a></h1>
        <p>PENGANGKUTAN AWAM PUTRAJAYA TRAVEL &amp; TOURS SDN BHD <small class="hidden-sm">(483956&#8209;P)</small></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="hotline text hidden-xs">
        <p>
          <span>019-282 2280</span><br>
          <span>03-8890 4788</span><br>
          <span>info@papsb.com.my</span>
        </p>
      </div>
      <div class="hotline heading hidden-xs">
        <p>
          <i class="glyphicon glyphicon-phone-alt"></i>HOTLINE<br>
          <br>
          <i class="glyphicon glyphicon-envelope"></i>E-MEL
        </p>
      </div>
      <div class="hotline ppj hidden-sm hidden-xs">
        <!-- <img src="img/logo&#45;ppj&#45;anak&#45;syarikat.png" alt="anak syarikat perbadanan putrajaya" width="150px"> -->
        <img src="img/logo-gets-global-anak-syarikat.png" alt="anak syarikat Gets Global Berhad" width="150px">
      </div>
    </div>
    <div class="col-xs-12 nopadding">
      <div id="header-slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div ng-repeat="item in vm.slider.items | limitTo: vm.slider.multi_image" class="item" ng-class="{ active: $first }">
            <img ng-src="{{ item.url }}" alt="{{ item.caption }}">
            <span ng-if="vm.slider.caption" class="carousel-caption">{{ item.caption }}</span>
          </div>
        </div>
        <a class="left carousel-control" href="#header-slider" data-slide="prev" onclick="event.preventDefault()"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#header-slider" data-slide="next" onclick="event.preventDefault()"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
    </div>
  </header>
