<style>
  .bgcolor_turquoise {
    padding-top: 15px;
    margin-top: 0;
    text-align: center;
    height: 60px;
    background-color:#50e3c2;
    -webkit-border-radius: 5px;
            border-radius: 5px;
  }
</style>
<div class="col-sm-9">
  <h2 class="bgcolor_turquoise">PARK &amp; RIDE</h2>

  <img class="img-100" src="img/park-and-ride-large.png" alt="">
  <p>Park &amp; Ride di Presint 7 ialah bangunan 3 tingkat yang mengandungi 1,407 lot petak tempat letak kereta (TLK). Kemudahan tempat letak kereta ini dibuka pada Ogos 2008 dan terletak bersebelahan Stesen Putrajaya Sentral.</p>
  <p>Bangunan ini dihubungkan dengan Stesen Putrajaya Sentral oleh jejantas berbumbung di Aras P3.</p>
  <p>Kadar bayaran tempat letak kereta yang dikuatkuasakan adalah seperti berikut :-</p>
  <ul class="lower-latin">
    <li>15 minit pertama       :   Percuma</li>
    <li>Bayaran Sekali Masuk (per entry)     :   RM2.00</li>
    <li>Bermalam (mulai 1.00 pagi hingga 6.00pagi)   :   Tambahan RM4.00 </li></ul>
</ul>
<p>Bayaran boleh dijelaskan di mesin autopay yang terletak di setiap aras atau di kaunter tempat letak kereta di Aras 3, Stesen Putrajaya Sentral.</p>
<p>Di Aras P3 terdapat kedai-kedai yang menawarkan perkhidmatan seperti :-</p>
<ul>
  <li>Perkhidmatan Spa</li>
  <li>Jualan Kad Prabayar Telefon</li>
  <li>Perkhidmatan Pencetakan</li>
  <li>Ejen Pelancongan</li>
  <li>Kedai Bunga</li>
</ul>
<h5>Pengguna Park &amp; Ride boleh menaiki bas secara percuma sepanjang hari dengan menggunakan kad Park & Ride</h5>
<p>Untuk perhubungan :</p>
<ul>
  <li>Talian Aduan Kerosakan mesin TLK   :    019-236 8043 </li>
  <li>Talian Pejabat Operasi             :    03-8887 7786</li>
</ul>

</div>
<div class="col-sm-3">
  <ng-include src="'views/sidebar.html'" scope="" onload=""></ng-include>
</div>
