<link rel="stylesheet" href="css/style_us.css">

<div class="col-md-12">
  <div class="bgcolor_3">
    <h2>PUTRAJAYA SENTRAL</h2>
  </div>
  <br>
  <div class="col-md-6">
    <div class="bgcolor_1">
      <p><b>1.0 Latar belakang</b>
      </p>
    </div>
    <div class="outset">
    <img class="img-responsive" src="img/putrajaya_sentral/IMG_4583.JPG">
    </div>
    <br>
    <p>Mula beroperasi pada tahun 2002 sebagai "Hab Pengangkutan Awam" untuk kawasan Putrajaya, Cyberjaya, Dengkil dan Sepang.
    </p>
    <p>Mula dengan perkhidmatan "KLIA Transit" dan bas dikawasan Putrajaya, kini perkhidmatan pengangkutan yang disediakan meliputi :-</p>
    <div>
      <ul>
        <p>(i) "KLIA Transit"</p>
        <p>(ii) Bas Putrajaya untuk kawasan Putrajaya dan Cyberjaya</p>
        <p>(iii) Bas RApidKL</p>
        <p>(iv) Metrobus</p>
        <p>(v) Sytel Klang Banting</p>
        <p>(vi) Bas Ekpress ke seluruh negara yang disediakan oleh</p>
        <ul>
          <li>Transnasional</li>
          <li>Mahligai</li>
          <li>Mutiara</li>
          <li>AB Ekspress</li>
          <li>Adik Beradik</li>
          <li>Mega Jaya</li>
        </ul>
        <p>(vii) Perkhidmatan Teksi</p>
        <div class="outset">
          <img class="img-responsive" src="img/putrajaya_sentral/terminal.jpg">
        </div>
      </ul>

    </div>
  </div>

  <div class="col-md-6">
    <div>
      <p><b>2.0 Perkhidmatan lain yang disediakan seperti:-</b>
      </p>
    </div>
    <div>
      <ul>
        <p>(i) Stesyen Putrajaya Sentral yang dibangunkan secara integrasi dengan kemudahan "Park n Ride" turut menyediakan sejumlah hampir 2000 lot parkir untuk kemudahan pengguna.</p>
        <p>(ii) Kios-kios makanan dan minuman juga turut disediakan. Kini terdapat lebih 20 kios-kios makanan ringan dan minuman dengan pelbagai jenama disediakan, antaranya:-</p>
        <ul>
          <li>Kopi Satu</li>
          <div>
            <img class="alignleft size-full wp-image-1065, zoom" class="img-responsive" src="img/putrajaya_sentral/kopi.jpg">
          </div>
          <br>
          <li>23 Hotdog</li>
          <div>
            <img class="alignleft size-full wp-image-1065, zoom" class="img-responsive" src="img/putrajaya_sentral/23hotdog_2.jpg">
          </div>
          <br>
          <li>Leko-leko</li>
          <div>
            <img class="alignleft size-full wp-image-1065, zoom" class="img-responsive" src="img/putrajaya_sentral/leko.jpg">
          </div>
          <br>
          <li>'Hot n Roll'</li>
          <div>
            <img class="alignleft size-full wp-image-1065, zoom" class="img-responsive" src="img/putrajaya_sentral/hotnroll_3.jpg">
          </div>
          <br>
          <li>TChannel</li>
          <div>
            <img class="alignleft size-full wp-image-1065, zoom" class="img-responsive" src="img/putrajaya_sentral/t_channel_1.jpg">
          </div>
          <br> 
          <li>Restoran Lengkuas</li>
          <div>
            <img class="alignleft size-full wp-image-1065, zoom" class="img-responsive" src="img/putrajaya_sentral/lengkuas.jpg">
          </div>
        </ul>
        <br>
        <p>(iii) Selain itu, kemudahan simpanan bag turut disediakan.</p>
        <p>(iv) Kini Putrajaya Sentral dijadikan titik mula untuk pelancong bersiar-siar disekitar Putrajaya melalui "Putrajaya Sightseeing"</p>
      </ul>
      <br>
    </div>
  </div>
</div>

<div class="col-sm-12">
  <div class="bgcolor_1">
    <p><b>3.0 Kemudahan Perkhidmatan Kios Daftar dan Bayaran</b>
    </p>
    <ul>
      <p>(i) Kios Daftar masuk MAS (MALAYSIA AIRLINES)</p>
      <ul><li>Kios daftar masuk layan diri yang lebih mesra pengguna, membolehkan penumpang mendaftar masuk dengan lebih mudah dan menjimatkan masa. <br>Pengguna hanya perlu merujuk tempahan tiket atau nombor e-tiket untuk melakukan daftar masuk di Putrajaya Sentral.</li></ul>
      <br>
      <p>(ii) Kios Bayaran Parkir</p>
      <p>(iii) Kios Tambah Nilai Kad Putra</p></ul>

    </div>
  </div>
