<link rel="stylesheet" href="css/style_us.css">

<div class="col-md-12">
  <div class="bgcolor_3">
    <h2>PUTRAJAYA SENTRAL</h2>
  </div>
  <br>
  <div class="col-md-6">
    <div class="bgcolor_1">
      <p><b>Latar Belakang</b>
      </p>
    </div>
    <div class="outset">
    <img class="img-responsive" src="img/putrajaya_sentral/IMG_4583.JPG">
    </div>
    <br>
    <p>Mula beroperasi pada tahun 2002 sebagai "Hab Pengangkutan Awam" untuk kawasan Putrajaya, Cyberjaya, Dengkil dan Sepang.
    </p>
    <p>Mula dengan perkhidmatan "KLIA Transit" dan bas di kawasan Putrajaya, kini perkhidmatan pengangkutan yang disediakan meliputi :-</p>
    <div>
      <ul>
        <li>KLIA Transit</li>
        <li>Bas Putrajaya untuk kawasan Putrajaya dan Cyberjaya</li>
        <li>Bas RApidKL</li>
        <li>Metrobus</li>
        <li>Syarikat Klang Banting</li>
        <li>Bas Ekpress ke seluruh negara yang disediakan oleh :-</li>
        <ol>
          <li>Transnasional</li>
          <li>Mahligai</li>
          <li>Mutiara</li>
          <li>AB Ekspress</li>
          <li>Adik Beradik</li>
          <li>Mega Jaya</li>
        </ol>
        <li>Perkhidmatan Teksi</li>
        <div class="outset">
          <img class="img-responsive" src="img/putrajaya_sentral/terminal.jpg">
        </div>
      </ul>

    </div>
  </div>

  <div class="col-md-6">
    <div>
      <p><b>Perkhidmatan Lain</b></p>
    </div>
    <div>
      <ul>
      <li>Stesen Putrajaya Sentral yang dibangunkan secara integrasi dengan kemudahan "Park & Ride" turut menyediakan sejumlah hampir 2000 lot parkir untuk kemudahan pengguna.</li>
      <li>Kios-kios makanan dan minuman juga turut disediakan. Kini terdapat lebih 20 kios-kios makanan ringan dan minuman dengan pelbagai jenama disediakan antaranya :-</li>
        <ul>
          <li>Kopi Satu</li>
          <div>
            <img class="alignleft size-full wp-image-1065, zoom" class="img-responsive" src="img/putrajaya_sentral/kopi.jpg">
          </div>
          <br>
          <li>23 Hotdog</li>
          <div>
            <img class="alignleft size-full wp-image-1065, zoom" class="img-responsive" src="img/putrajaya_sentral/23hotdog_2.jpg">
          </div>
          <br>
          <li>Leko-leko</li>
          <div>
            <img class="alignleft size-full wp-image-1065, zoom" class="img-responsive" src="img/putrajaya_sentral/leko.jpg">
          </div>
          <br>
          <li>'Hot n Roll'</li>
          <div>
            <img class="alignleft size-full wp-image-1065, zoom" class="img-responsive" src="img/putrajaya_sentral/hotnroll_3.jpg">
          </div>
          <br>
          <li>TChannel</li>
          <div>
            <img class="alignleft size-full wp-image-1065, zoom" class="img-responsive" src="img/putrajaya_sentral/t_channel_1.jpg">
          </div>
          <br> 
          <li>Restoran Lengkuas</li>
          <div>
            <img class="alignleft size-full wp-image-1065, zoom" class="img-responsive" src="img/putrajaya_sentral/lengkuas.jpg">
          </div>
        </ul>
        <br>
        <li>Selain itu, kemudahan simpanan bag turut disediakan.</li>
        <li>Kini Putrajaya Sentral dijadikan titik mula untuk pelancong bersiar-siar disekitar Putrajaya melalui "Putrajaya Sightseeing"</li>
      </ul>
      <br>
    </div>
  </div>
</div>

<div class="col-sm-12">
  <div class="bgcolor_1">
    <p><b>Kemudahan Perkhidmatan Kios Daftar dan Bayaran</b></p>
    <ul>
      <li>Kios Daftar masuk MAS (MALAYSIA AIRLINES)</li>
      <blockquote>Kios daftar masuk layan diri yang lebih mesra pengguna, membolehkan penumpang mendaftar masuk dengan lebih mudah dan menjimatkan masa. Pengguna hanya perlu merujuk tempahan tiket atau nombor e-tiket untuk melakukan daftar masuk di Putrajaya Sentral.</blockquote>
      <br>
      <li>Kios Bayaran Parkir</li>
      <li>Kios Tambah Nilai Kad Putra</li>
      </ul>

    </div>
  </div>
