<!-- frontpage right sidebar -->

<div class="sidebar">
  <div class="notis">
    <h4>EH EH BUSFEST 2014</h4>
    <img src="img/makluman/eh-eh-busfest-2014.jpg" alt="BUSFEST">
  </div>
  <div class="notis">
    <h4>PERADUAN MENCIPTA LOGO</h4>
    <img src="uploads/eh-eh-busfest/poster-peraduan-mencipta-logo.jpg" alt="peraduan mencipta logo eh eh busfest 2014">
    <a href="uploads/eh-eh-busfest/BORANG%20PENYERTAAN%20MENCIPTA%20LOGO.docx">Muat turun borang penyertaan.</a><br/>
    <a href="uploads/eh-eh-busfest/SYARAT%20PERTANDINGAN%20MENCIPTA%20LOGO.docx">Syarat penyertaan [BM]</a><br/>
    <a href="uploads/eh-eh-busfest/SYARAT%20PERTANDINGAN%20MENCIPTA%20LOGO%20IN%20ENGLISH.docx">Syarat penyertaan [BI]</a>
  </div>
  <div class="notis">
    <h4>PERTANYAAN PERKHIDMATAN</h4>
    <p>Sebarang maklumbalas sila hubungi Pusat Kawalan Bas Putrajaya, 019-2822280 atau emailkan kepada basputrajaya@papsb.com.my</p>
  </div>
  <div class="sidebar-banner">
    <img src="img/sightseeing.png" alt="">
  </div>
</div>
