<!-- frontpage right sidebar -->

<div class="sidebar">
  <div class="notis">
    <h4>PERTANYAAN PERKHIDMATAN</h4>
    <img src="img/aduan.png" alt="" class="img-100 centertext">
  </div>
  <div class="notis">
    <h4>LALUAN NADIPUTRA <span class="label label-primary">baru</span></h4>
    <p class="text-center">Laluan Nadiputra telah dikemaskini. Sila semak laluan terkini di <a href="#!/perkhidmatan-bas/laluan-luar">Perkhidmatan Bas Henti-Henti</a></p>
  </div>
  <div class="notis">
    <h4>KAD PUTRA</h4>
    <a href="img/kad-putra/poster-promosi.jpg" target="_blank"><img src="img/kad-putra/poster-promosi.jpg" alt="Kad Putra"></a>
  </div>
  <div class="sidebar-banner">
    <a href="#!/perkhidmatan-bas/putrajaya-sightseeing"><img src="img/sightseeing.png" alt=""></a>
  </div>
</div>
