<!-- frontpage right sidebar -->

<div class="sidebar">
  <div class="notis">
    <h4>PERTANYAAN PERKHIDMATAN</h4>
    <p class="text-center aduan">
      Sebarang maklumbalas perkhidmatan
      sila hubungi pusat kawalan bas nadiputra
      019&#8209;282&nbsp;2280 atau emailkan kepada
      basnadiputra@papsb.com.my 
    </p>
    <!-- <img src="img/aduan.svg" alt="" class="img&#45;100 centertext"> -->
  </div>
  <div class="notis">
    <h4>PENUTUPAN LALUAN</h4>
    <p class="text-center">
      Bermula pada <b><i>17hb oktober 2016 (Isnin)</i></b>, penutupan laluan <b>D19/D20</b> dan laluan <b>D27/D28</b> akan dilaksanakan oleh Syarikat Pengangkutan Awam Putrajaya Travel &amp; Tours Sdn Bhd
      <br />
      <a href="img/makluman/notis-penutupan-laluan.pdf" target="_blank"><i class="fa fa-arrow-circle-right"></i> Baca maklumat lanjut</a>
    </p>
  </div>
  <div class="notis">
    <h4>LALUAN NADIPUTRA <span class="label label-primary">baru</span></h4>
    <p class="text-center">Laluan Nadiputra telah dikemaskini. Sila semak laluan terkini di <a ui-sref="perkhidmatan-bas.laluan-terus">Perkhidmatan Bas Henti-Henti</a></p>
  </div>
  <div class="notis">
    <h4>KAD PUTRA</h4>
    <a href="img/kad-putra/poster-promosi.jpg" target="_blank"><img src="img/kad-putra/poster-promosi.jpg" alt="Kad Putra"></a>
  </div>
  <div class="sidebar-banner">
    <a ui-sref="perkhidmatan-bas.sightseeing"><img src="img/putrajaya-sightseeing/logo.png" alt=""></a>
  </div>
</div>
