<style>
  .bgcolor_green {
    padding-top: 15px;
    margin-top: 0;
    text-align: center;
    height: 60px;
    background-color:#31B404;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
</style>
<div class="col-sm-9">
  <h2 class="bgcolor_green">TEMPAT LETAK KERETA</h2>

  <p>
    PAPSB juga menguruskan kawasan TLK berbayar milik Perbadanan Putrajaya. Pengurusan
    TLK ini dilaksanakan bertujuan untuk memastikan pelawat / pengunjung ke mana-mana
    Kompleks Kerajaan dapat menggunakan kemudahan TLK yang disediakan.
  </p>

  <p>
    Operasi dan kawasan TLK ini ialah seperti berikut :-
  </p>

  <ul class="upper-latin">
    <li>
      Operasi secara manual
      <ol class="lower-roman">
        <li>Kompleks B, Jabatan Perdana Menteri, Presint 1 - Terdapat <b>121</b> lot TLK</li>
        <li>Kompleks C, Kompleks Pejabat Kerajaan, Presint 1 - Terdapat <b>112</b> lot TLK</li>
        <li>Belakang Kompleks Pejabat Kastam, Presint 2 - Terdapat <b>93</b> lot TLK</li>
      </ol>
    </li><br />
    <li>
      Operasi secara bayaran automatik
      <ul class="lower-roman">
        <li>Kompleks PPj, Presint 3 - Terdapat <b>75</b> lot TLK</li>
        <li>Sekitar Kompleks E, Kompleks Pejabat Kerajaan, Presint 1 - Terdapat <b>712</b> lot TLK</li>
      </ul>
    </li><br />
    <li>
      Operasi secara Bayar dan Peraga
      <ul class="lower-roman">
        <li>Laman Perdana, Presint 1 - Terdapat <b>115</b> lot TLK</li>
        <li>Kawasan komersil, Presint Diplomatik - Terdapat <b>300</b> lot TLK</li>
      </ul>
    </li>
  </ul>
  <hr />
  <h3>TEMPAT LETAK KERETA SEKITAR PRESINT 1</h3>
  <img class="img-100" src="img/tlk/tlk-kompleks.jpg" alt="">
  <h3>TEMPAT LETAK KERETA SEKITAR PRESINT 2 &amp; 3</h3>
  <img class="img-100" src="img/tlk/tlk-234.jpg" alt="">
  <h3>TEMPAT LETAK KERETA SEKITAR PRESINT DIPLOMATIK</h3>
  <img class="img-100" src="img/tlk/tlk-diplomatik.jpg" alt="">
  <br />
</div>
<div class="col-sm-3">
  <ng-include src="'views/sidebar.html'" scope="" onload=""></ng-include>
</div>
