@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600|Oswald:400,700);

header { border-top: solid 10px #326496; }

body {
  font: 1.25em/1.55em 'Open Sans', Helvetica, Arial, sans-serif;
  background: url(../img/bg-tile.gif) #f3f3f3;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Oswald, Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #222;
  -webkit-text-shadow: rgba(255,255,255,.55) 0.5px 0.5px 0;
          text-shadow: rgba(255,255,255,.55) 0.5px 0.5px 0;
}
h5, h6 { font-weight: 400; }
.container {
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.55);
}
.logo { padding-left: 20px; }
.hotline { margin-top: 20px; float: right; }
.hotline.heading { font-weight: bold; margin-right: 1em; }
.hotline.ppj { margin-top: 0; margin-right: 1em; }
.hotline.text { margin-right: 20px; }
.hotline i { margin-right: 10px; }
.hero-image { max-width: 100%; height: auto; overflow:  hidden; }
.col-xs-6.col-sm-6 > .hotline.ppj { display: hidden; }

/** NAVBAR **/

.container.container-navbar { background: #326496; }
.navbar.navbar-default {
  font: 1em;
  border: 0;
  top: -1px;
}

.navbar-default .navbar-nav > li > ul.dropdown-menu > li > a,
.navbar-default .navbar-nav > li > a {
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
          transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #F8E71C;
  background-color: #2C5D8D;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #F8E71C;
  background-color: #2C5D8D;
  font-weight: 400;
}

/** NAVBAR -> DROPDOWN **/
.dropdown-menu {
  background-color: rgba(255,255,255, 1);
}
.navbar-default .navbar-nav > .dropdown.open > .dropdown-menu a {
  color: #2C5D8D;
  font-weight: 300;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #F8E71C;
  background-color: #2C5D8D;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff !important;
  }
}

/** CONTENT **/

section p { font: 1.1em/1.55em 'Open Sans', Helvetica, Arial, sans-serif; }
section ul.text { font: 1.1em/1.55em 'Open Sans', Helvetica, Arial, sans-serif; }

section h2,
section h4 {
  padding: 20px 0;
  /* margin: 0; */
  margin-bottom: 20px;
  text-align: center;
  border-radius: 5px;
}

/** PRODUCT CARD **/
.kad-perkhidmatan {
  display: inline-block;
  margin-bottom: 25px;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
          transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.kad-perkhidmatan:hover {
  text-decoration: none;
  box-shadow: 0px 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
}

.kad-perkhidmatan > h4 {
  font-weight: 700;
  padding: 20px 10px 0 10px;
  margin: 0;
  text-align: center;
  overflow-x: hidden;
  height: 60px;
  color: #111;
  border-radius: 5px 5px 0 0;
  -webkit-text-shadow: rgba(255,255,255,.55) 0.5px 0.5px 0;
          text-shadow: rgba(255,255,255,.55) 0.5px 0.5px 0;
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
          transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.kad-perkhidmatan img {
  height: auto;
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;
  -webkit-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
}

.cyel1,.kad-perkhidmatan-bas { background-color: #F8Ed60; }
.cblu1,.kad-putrajaya-sentral { background-color: #64e3c6; }
.cgre1,.kad-park-and-ride { background-color: #89d338; }
.cora1,.kad-tempat-letak-kereta { background-color: #ca884e; }
.cpur1,.kad-spektra { background-color: #a269ba; }
.cpin1,.kad-pengiklanan { background-color: #ef6274; }
.cblu2,.kad-tnt { background-color: #6a74ae }
.cyel2,.kad-sewamotor { background-color: #ccd661; }
.cblu2,.kad-sewatapak { background-color: #6fc9ed; }

/** NAV SIDEBAR **/

.nav-sidebar .nav-pills > li > a {
  color: #326496;
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
     -moz-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
          transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.nav-sidebar .nav-pills > li > a > i { color: #f8e71c; }
.nav-sidebar .nav-pills > li.active > a,
.nav-sidebar .nav-pills > li.active > a:hover,
.nav-sidebar .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #326496;
}

/** SIDEBAR **/

@media (max-width: 767px) {
  .kad-perkhidmatan {
    display: inherit;
  }
  .sidebar {
    margin-top: 20px;
  }
}
.notis {
  margin-bottom: 10px;
  background-color: #FFF9AE;
  padding: 10px;
  border-radius: 5px;
  background: rgba(255,249,174,0.75);
  border: 2px dotted #979797;
  color: #D0021B;
  overflow: hidden;
}

.notis h4 {
  font-size: 1.2em;
  color: #4A4A4A;
  padding: 5px 0;
  margin-bottom: 5px;
  border-bottom: dashed 1px #ccc;
}
.notis p {
  line-height: 1.35em;
  text-align: center;
}

.img-100,
.notis img {
  margin-top: 10px;
  max-width: 100%;
  height: auto;
}

.sidebar-banner { margin-top: 20px; }
.sidebar-banner img { width: 100%; }

/** FOOTER **/

footer {
  margin-top: 20px;
  background-color: #326496;
  color: white;
  /* border-bottom: 35px solid #254B71; */
}

.footer {
  margin-top: 1em;
  border-right: 1px dotted #fff;
  display: block;
}
.footer.media-sosial {
  border-right: none;
}

footer .footer-heading {
  height: 50px;
}
footer .footer-heading i {
  position: relative;
  font-size: 2.7em;
  color: #98b1ca;
}
footer .footer-heading h4 {
  position: relative;
  top: -40px;
  margin-left: 3em;
  margin-right: 4em;
  padding-bottom: 2px;
  border-bottom: solid 2px yellow;
}

footer .footer h4,
footer .footer h6 {
  color: #fefefe;
  -webkit-text-shadow: rgba(0,0,0,.8) 0.5px 0.5px 0;
          text-shadow: rgba(0,0,0,.8) 0.5px 0.5px 0;
}

footer .copyright {
  margin: 0 -15px;
  text-transform: uppercase;
  background-color: #254B71;
}
footer .copyright p {
  padding: 15px;
}

/** slider plugin custom **/

.bx-wrapper {
  margin-bottom: 0;
  box-shadow: none;
  border: none;
  left: 0;
}

/** Table **/
/** Helper **/

.nopadding { padding:0 !important; margin:0 !important; }
.centertext { text-align: center; }
.justifytext { text-align: justify; }
.lower-latin{ list-style: lower-latin outside none; }
.lower-roman { list-style: lower-roman outside none; }
.upper-latin{ list-style: upper-latin outside none; }
