
<center><h2>Sistem Tiket Elektronik</h2></center>
<ul>
<li>Sistem tiket bas elektronik  diintegrasikan dengan sistem parkir dan boleh menerima bayaran tambang secara tunai, KAD Putra dan KAD Park n Ride.</li>
<li>Ia menyediakan data berkaitan kutipan tambang, penumpang, pemandu dan  laluan bas.</li>
<li>GPS berfungsi  untuk mengenalpasti lokasi bas secara automatik dan ini membolehkan tempat penumpang menaiki bas direkod  bagi setiap lokasi. </li>
</ul>

<center><img class="img-100" src="img/spektra/tiket-elektronik.jpg"></center><br>
