
<center><h2>Sistem Pengurusan Bas</h2></center>
<ul>
<li>Memantau operasi bas Putrajaya secara 'realtime' menggunakan  peta interaktif  bertujuan menentukan bas beroperasi mengikut jadual dan laluan yang telah ditetapkan.</li>
<li>Melakukan analisa ke atas data operasi bas untuk mendapatkan  jadual ketibaan yang optima di setiap perhentian  dan terminal bas di Putrajaya.</li>
<li>Sistem komunikasi dengan pemandu bas.</li>
</ul>

<center><img class="img-100" src="img/spektra/pengurusan-bas.jpg"></center><br>
