
<center><h2>Sistem Maklumat Bas</h2></center>
<ul>
<li>Berperanan untuk mengurus dan mengawal penyaluran maklumat ke panel paparan di Hentian Bas, Kompleks Kerajaan dan Terminal Putrajaya Sentral dengan teratur dan tepat.</li>
<li>Jangkaan waktu ketibaan bas dipaparkan menerusi SVMS di hentian bas dan Paparan Plasma di Kompleks kerajaan.</li>
<li>Jadual ketibaan dan perlepasan bas pula dipaparkan di Paparan Plasma di Terminal Putrajaya Sentral.</li>
</ul>

<center><img class="img-100" src="img/spektra/maklumat-bas.jpg"></center><br>
