<div class="col-sm-3">
<div class="nav-sidebar">
    <ul class="nav nav-pills nav-stacked">
      <!-- write here -->
      <li ui-sref-active="active"><a ui-sref=".konsep"><i class="fa fa-caret-right">&nbsp;</i> Konsep SPEKTRA</a></li>
      <li ui-sref-active="active"><a ui-sref=".spb"><i class="fa fa-caret-right">&nbsp;</i> Sistem Pengurusan Bas</a></li>
      <li ui-sref-active="active"><a ui-sref=".smb"><i class="fa fa-caret-right">&nbsp;</i> Sistem Maklumat Bas</a></li>
      <li ui-sref-active="active"><a ui-sref=".ste"><i class="fa fa-caret-right">&nbsp;</i> Sistem Tiket Elektronik</a></li>
      <li ui-sref-active="active"><a ui-sref=".spa"><i class="fa fa-caret-right">&nbsp;</i> Sistem Parkir Automatik</a></li>
      <!-- end write here -->
    </ul>
  </div>
</div>
<div class="col-sm-9" ui-view> 
</div> <!-- end col-sm-9> 
