<style>
  table { width:100%; }
  table, th, td { border: 1px solid grey; border-collapse: collapse; }
  th, td { padding: 7px; text-align: auto; }
  table#t01 tr:nth-child(even) { background-color: #FFFFFF; }
  table#t01 tr:nth-child(odd) { background-color:#E0F2F7; }
  table#t01 th  { background-color: #326496; color: white; }
</style>

<center><img src="img/perkhidmatan-bas/sightseeing2.png" alt="Putrajaya Sightseeing"/></center><p>

<div class="row">
  <div class="col-xs-4">
    <div class="kad-sightseeing">
      <h4>PICC</h4>
      <img src="img/perkhidmatan-bas/picc.jpg" alt="">
    </div>
  </div>
  <div class="col-xs-4">
    <div class="kad-sightseeing">
      <h4>PEJABAT PERDANA MENTERI</h4>
      <img src="img/perkhidmatan-bas/prime-office.jpg" alt="">
    </div>
  </div>
  <div class="col-xs-4">
    <div class="kad-sightseeing">
      <h4>DATARAN PUTRAJAYA</h4>
      <img src="img/perkhidmatan-bas/ppj.jpg" alt="">
    </div>
  </div>
  <br><div class="col-xs-4">
  <div class="kad-sightseeing">
    <h4>ISTANA KEHAKIMAN</h4>
    <img src="img/perkhidmatan-bas/istana-hakim.jpg" alt="">
  </div>
</div>
<div class="col-xs-4">
  <div class="kad-sightseeing">
    <h4>DATARAN PUTRA</h4>
    <img src="img/perkhidmatan-bas/putra-square.jpg" alt="">
  </div>
</div>
<div class="col-xs-4">
  <div class="kad-sightseeing">
    <h4>JAMBATAN PUTRA</h4>
    <img src="img/perkhidmatan-bas/putra-bridge.jpg" alt="">
  </div>
</div>
</div>
<!--</div>-->
<br>
<br>
<br>
<p>Putrajaya Sightseeing membawa pelancong melalui beberapa destinasi menarik di sekitar Putrajaya. Pelancong akan menikmati keindahan Putrajaya sebagai "bandar dalam taman" dan "bandar pintar".</p>
</tr></p>
<tr><b>Waktu Berlepas</b><br>
</tr>
<tr>Isnin sehingga Ahad : 10:30 AM & 2:30 PM<br>
</tr>
<tr>Jumaat : 3:00 PM sahaja<br>
</tr><p>
</p><tr><b>Tempat Bermula dan Tempat Berakhir :</b><br>
</tr>
<tr>Putrajaya Sentral - Terminal A, Platform 6<br>
</tr><p>
</p><tr><b>Cara Pembayaran : TUNAI SAHAJA</b><br>
</tr>
<tr>Tiket boleh didapati di kaunter Putrajaya Sightseeing di Putrajaya Sentral<br>
</tr><p>
<p><tr><b>Maklumat lanjut boleh hubungi 03 8887 7786</b><br>
</tr><p>
<table id="t01">
  <tr>
    <th colspan="3"><b><center>Jadual Perjalanan Bas Putrajaya Sightseeing</th>
  </tr>
  <tr><!--1-->
    <td><b><center>Tempat</center></td>
    <td><center><b>Trip 1</center></td>
    <td><center><b>Trip 2</center></td>
  </tr>
  <tr><!--2-->
    <td><b>Dari Putrajaya Sentral</td>
    <td><center>10.30 AM</center></td>
    <td><center>14.30 PM</center></td>
  </tr>
  <tr><!--3-->
    <td><b>Dataran Putra</td>
    <td><center>11.00 AM</center></td>
    <td><center>15.00 PM</center></td>
  </tr>
  <tr><!--4-->
    <td><b>Masjid Putra</td>
    <td><center>11.15 AM</center></td>
    <td><center>15.15 PM</center></td>
  </tr>
  <tr><!--5-->
    <td><b>Jabatan Perdana Menteri</td>
    <td><center>11.30 AM</center></td>
    <td><center>15.30 PM</center></td>
  </tr>
  <tr><!--6-->
    <td><b>Dataran Wawasan</td>
    <td><center>11.35 AM</center></td>
    <td><center>15.35 PM</center></td>
  </tr>
  <tr><!--7-->
    <td><b>Dataran Putrajaya</td>
    <td><center>11.55 AM</center></td>
    <td><center>15.55 PM</center></td>
  </tr>
  <tr><!--8-->
    <td><b>Istana Kehakiman</td>
    <td><center>12.00 PM</center></td>
    <td><center>16.00 PM</center></td>
  </tr>
  <tr><!--9-->
    <td><b>Masjid Sultan Mizan Zainal Abidin</td>
    <td><center>12.15 PM</center></td>
    <td><center>16.15 PM</center></td>
  </tr>
<tr><!--10--->
    <td><b>Jabatan Peguam Negara</td>
    <td><center>12.25 PM</center></td>
  <td><center>16.25 PM</center></td>
</tr>
<tr><!--11-->
  <td><b>Dataran Gemilang</td>
  <td><center>12.30 PM</center></td>
  <td><center>16.30 PM</center></td>
</tr>
<tr><!--12-->
  <td><b>Jambatan Seri Gemilang</td>
  <td><center>12.40 PM</center></td>
  <td><center>16.40 PM</center></td>
</tr>
<tr><!--13-->
  <td><b>PICC</td>
  <td><center>12.45 PM</center></td>
  <td><center>16.45 PM</center></td>
</tr>
<tr><!--14-->
  <td><b>Jambatan Seri Saujana</td>
  <td><center>13.05 PM</center></td>
  <td><center>17.05 PM</center></td>
</tr>
<tr><!--15-->
  <td><b>Jambatan Seri Wawasan</td>
  <td><center>13.15 PM</center></td>
  <td><center>17.15 PM</center></td>
</tr>
<tr><!--16-->
  <td><b>Jambatan Putra & Dataran Putra</td>
  <td><center>13.20 PM</center></td>
  <td><center>17.20 PM</center></td>
</tr>
<tr><!--17-->
  <td><b>Putrajaya Sentral</td>
  <td><center>14.00 PM</center></td>
  <td><center>18.00 PM</center></td>
</tr>
</table>
<br>
