
<style>
  table { width:100%; }
  table, th, td { border: 1px solid grey; border-collapse: collapse; }
  th, td { padding: 7px; text-align: auto; }
  table#t01 tr:nth-child(even) { background-color: #FFFFFF; }
  table#t01 tr:nth-child(odd) { background-color:#E0F2F7; }
  table#t01 th  { background-color: #326496; color: white; }
</style>

<p><b>PAPSB menyediakan perkhidmatan bas seperti berikut :-</b></p>
<p><b>Perkhidmatan Henti - Henti Laluan Tetap</b></p>
<p><b>1. Laluan 'L' (Laluan Siang bermula dari 6.30 pagi sehingga 7.30 malam)</b></p>

<table id="t01">
  <tr>
    <th><center>Laluan</center></th>
    <th><center>Destinasi</center></th>
  </tr>
  <tr ng-repeat="route in vm.route_local">
    <td><center>{{ ::route.route_name }}</center></td>
    <td>{{ ::route.inbound.join(' - ') }} - {{ ::route.outbound.join(' - ')}}</td>
  </tr>
</table>

<p><b>2. Laluan 'N' (Laluan Malam bermula dari 8.00 malam sehingga 12.00 tengah malam) kecuali pada Sabtu / Ahad dan cuti umum</b></p>

<p><b>3. Laluan 'J' (Laluan dari Putrajaya ke kawasan luar)</b></p>

<table id="t01">
  <tr>
    <th><center>Laluan</center></th>
    <th><center>Destinasi</center></th>
  </tr>
  <tr ng-repeat="route in vm.route_journey">
    <td><center>{{ ::route.route_name }}</center></td>
    <td>{{ ::route.inbound.join(' - ') }} - {{ ::route.outbound.join(' - ')}}</td>
  </tr>
</table>

<p><b>Perkhidmatan Bas Terus disediakan dari kawasan kediaman ke pejabat pada waktu puncak pagi dan petang hari bekerja. Waktu operasi ialah 6.30 pagi sehingga 8.30 pagi dan 4.30 petang sehingga 6.30 petang</b></p>

<p><b>Perkhidmatan Bas Sekolah</b>
<table id="t01">
<tr>
    <th><center>Laluan</center></th>
    <th><center>Destinasi</center></th>
</tr>
<tr>
    <td>Sek 11(1) Waktu Pagi</td>
    <td>Putra Damai - Sek 11(1) - ERL</td>
</tr>
<tr>
    <td>Sek 11(1) Waktu Pagi</td>
    <td>P10 - Sek 11(1) - ERL</td>
</tr>
<tr>
    <td>Sek 11(1) Waktu Petang</td>
    <td>Sek 11(1) - Putra Damai</td>
</tr>
<tr>
    <td>Sek 11(2) Jumaat Sahaja</td>
    <td>Sek 11(2) - Masjid P11A</td>
</tr>
<tr>
    <td>Sek 11(1) Waktu Petang</td>
    <td>Sek 11(1) - P8 - P9</td>
</tr>
<tr>
    <td>Sek 8(1) Waktu Petang</td>
    <td>Sek 8(1) - P8 - P9</td>
</tr>
<tr>
    <td>Sek 11(2) Waktu Pagi</td>
    <td>P&R P14 - Sek 11(2)</td>
</tr>
</table>
<br>

