
<link rel="stylesheet" href="css/hassan.css">

<div class="col-sm-3">
  <div class="nav-sidebar">
    <!-- fa fa-caret-right -->
    <ul class="nav nav-pills nav-stacked">
      <li ui-sref-active="active"><a ui-sref=".henti-henti"><i class="fa fa-caret-right">&nbsp;</i> Bas Henti-Henti</a></li>
      <li ui-sref-active="active"><a ui-sref=".tambang"><i class="fa fa-caret-right">&nbsp;</i> Jadual Tambang</a></li>
      <li ui-sref-active="active"><a ui-sref=".sewa-khas"><i class="fa fa-caret-right">&nbsp;</i> Sewa Khas</a></li>
      <li ui-sref-active="active"><a ui-sref=".sightseeing"><i class="fa fa-caret-right">&nbsp;</i> Putrajaya Sightseeing</a></li>
    </ul>
  </div>
</div>

<div class="col-sm-9" ui-view>
</div>
