<style>
  table { width:100%; }
  table, th, td { border: 1px solid grey; border-collapse: collapse; }
  th, td { padding: 7px; text-align: auto; }
  table#t01 tr:nth-child(even) { background-color: #FFFFFF; }
  table#t01 tr:nth-child(odd) { background-color:#E0F2F7; }
  table#t01 th  { background-color: #326496; color: white; }
</style>


<div class="row">
  <div class="col-md-12">
    <img src="../../img/putrajaya-sightseeing/logo.jpg" alt="Putrajaya Sightseeing" width="100%"/>
  </div>
</div>

<br>
<p>Putrajaya Sightseeing membawa pelancong melalui beberapa destinasi menarik di sekitar Putrajaya. Pelancong akan menikmati keindahan Putrajaya sebagai "bandar dalam taman" dan "bandar pintar".</p>
<b>Tambang</b><br>
Dewasa: RM20<br>
Kanak-kanak (2-12 tahun): RM10
<br>
<br>

<b>Waktu Berlepas</b><br>
Isnin sehingga Ahad : 11:00 AM & 3:00 PM<br>
Jumaat : 3:00 PM sahaja
<br>
<br>

<b>Tempat Bermula dan Tempat Berakhir :</b><br>
Putrajaya Sentral - Terminal A, Platform 6
<br>
<br>

<b>Cara Pembayaran : TUNAI SAHAJA</b><br>
Tiket boleh didapati di kaunter Putrajaya Sightseeing di Putrajaya Sentral dan kaunter tiket KLIA Ekspres.<br />
<small>* Maklumat lanjut di laman sesawang <a href="https://www.kliaekspres.com/putrajayasightseeing/">KLIA Ekspres</a></small>
<br>
<br>

<i>Maklumat lanjut perkhidmatan sila hubungi 03-8861 8906 / 03-8893 5788</i><br>
<br>

<b>Lokasi lawatan Putrajaya Sightseeing</b><br>
<img src="../../img/putrajaya-sightseeing/sightseeing-map.jpg" alt="" width="100%"/>
