<h4 class="cgre1">Laluan Dalam Putrajaya @ Laluan `L`</h4>
<h5>Waktu operasi: <i>(6.30 pagi sehingga 7.30 malam kecuali pada Sabtu / Ahad dan cuti umum)</i></h5>

<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th class="warning"><center>Laluan</center></th>
      <th class="warning"><center>Destinasi</center></th>
    </tr>
    <tr ng-repeat="route in vm.route_local">
      <td><center><b>{{ ::route.route_name }}</b></center></td>
      <td>{{ ::vm.combineAndSlice(route) }}</td>
    </tr>
  </table>
</div>
<br/>
