<h4 class="cyel1">LALUAN TERUS</h4>
<h5>Perkhidmatan Bas Terus disediakan dari kawasan kediaman ke Kompleks kerajaan</h5>
<h6>Waktu operasi: <s>waktu puncak pagi dan petang hari bekerja (6.30 pagi sehingga 8.30 pagi dan 4.30 petang sehingga 6.30 petang)</s></h6>

<table class="table table-striped">
  <tr>
    <th class="warning"><center>Laluan</center></th>
    <th class="warning"><center>Destinasi</center></th>
  </tr>
  <tr ng-repeat="route in vm.route_direct">
    <td><center><b>{{ ::route.route_name }}</b></center></td>
    <td>{{ ::vm.combineAndSlice(route) }}</td>
  </tr>
</table>

<br/>
