
<style>
  table { width:100%; }
  table, th, td { border: 1px solid grey; border-collapse: collapse; }
  th, td { padding: 7px; text-align: auto; }
  table#t01 tr:nth-child(even) { background-color: #FFFFFF; }
  table#t01 tr:nth-child(odd) { background-color:#E0F2F7; }
  table#t01 th  { background-color: #326496; color: white; }
</style>

<p><b>Berikut merupakan Kadar Tambang mengikut Zon</p>
<table id="t01">
  <tr>
    <th colspan="5"><b><center>Kadar Tambang</th>
  </tr>
  <tr>
    <th><b>Kadar Tambang</th>
    <th><center>Zon Putrajaya</center></th>
    <th><center>Zon Cyberjaya</center></th>
    <th><Center>Zon Desa Pinggiran Putra</th>
  </tr>
  <tr><!--2-->
    <td><b>Zon Putrajaya<br>- Dewasa</td>
    <td><center>RM 0.50 Sehala</td>   
    <td><center>RM 1.50 Sehala</td>
    <td><center>RM 1.00 Sehala</td>
  </tr>
  <tr><!--3-->
    <td><b>Konsesi</td>
    <td><center>RM 0.30 Sehala</td>   
    <td><center>RM 1.00 Sehala</td>
    <td><center>RM 0.50 Sehala</td>
  </tr>
  <tr><!--4-->
    <td><b>Zon Cyberjaya<br>- Dewasa</td>
    <td><center>RM 1.50 Sehala</td>   
    <td><center>RM 1.00 Sehala</td>
    <td></td>
  </tr>
  <tr><!--5-->
    <td><b>- Konsesi</td>
    <td><center>RM 1.00 Sehala</td>   
    <td><center>RM 0.50 Sehala</td>
    <td></td>
  </tr>
  <tr><!--6-->
    <td><b>Zon Desa Pinggiran Putra<br>- Dewasa</td>
    <td><center>RM 1.00 Sehala</td>   
    <td></td>
    <td><center>RM 0.50 Sehala</td>
  </tr>
  <tr><!--7-->
    <td><b>- Konsesi</td>
    <td><center>RM 0.50 Sehala</td>   
    <td></td>
    <td><center>RM 0.30 Sehala</td>
  </tr>
</table>
<br>
