
Untuk perkhidmatan Sewa Khas, PAPSB menyediakan :-<br>
<ol>
  <li>Bas panjang 12 meter berkuasa NGV</li>
  <li>Bas panjang 12 meter berkuasa Diesel</li>
  <li>Bas midi 9 meter berkuasa NGV</li>
  <li>Van</li>
</ol>

<p>Untuk maklumat lanjut mengenai Perkhidmatan Sewa Khas boleh hubungi :-<br>
  Unit Sewa Khas - 03 8893 5788 Faks 03 8888 8888<br>
  Puan Nurul Syazwani Binti Samiran - 017 284 6577 atau<br>
  Encik Zamri Bin Md Dom - 019 358 1601<br>
  Atau email kepada putrajaya.sewakhas@gmail.com
  <p>
