<div class="col-sm-3">
  <div class="nav-sidebar">
    <!-- fa fa-caret-right -->
    <ul class="nav nav-pills nav-stacked">
      <li ui-sref-active="active"><a ui-sref=".laluan-dalam"><i class="fa fa-caret-right">&nbsp;</i> Laluan Dalam Putrajaya</a></li>
      <li ui-sref-active="active"><a ui-sref=".laluan-luar"><i class="fa fa-caret-right">&nbsp;</i> Laluan Luar Putrajaya</a></li>
      <li ui-sref-active="active"><a ui-sref=".laluan-terus"><i class="fa fa-caret-right">&nbsp;</i> Laluan Terus</a></li>
      <li ui-sref-active="active"><a ui-sref=".laluan-malam"><i class="fa fa-caret-right">&nbsp;</i> Laluan Malam</a></li>
      <li ui-sref-active="active"><a ui-sref=".laluan-sekolah"><i class="fa fa-caret-right">&nbsp;</i> Laluan Sekolah</a></li>
      <li ui-sref-active="active"><a ui-sref=".tambang"><i class="fa fa-caret-right">&nbsp;</i> Jadual Tambang</a></li>
      <!-- <li ui&#45;sref&#45;active="active"><a ui&#45;sref=".henti&#45;henti"><i class="fa fa&#45;caret&#45;right">&#38;nbsp;</i> Bas Henti&#45;Henti</a></li> -->
      <!-- <li ui&#45;sref&#45;active="active"><a ui&#45;sref=".sewa&#45;khas"><i class="fa fa&#45;caret&#45;right">&#38;nbsp;</i> Sewa Khas</a></li> -->
      <!-- <li ui&#45;sref&#45;active="active"><a ui&#45;sref=".sightseeing"><i class="fa fa&#45;caret&#45;right">&#38;nbsp;</i> Putrajaya Sightseeing</a></li> -->
    </ul>
  </div>
</div>

<div class="col-sm-9" ui-view>
</div>
