<style>
  table td {
    text-align: center;
  }
  .bold {
    font-weight: bold;
  }
</style>
<h4 class="cyel2">Kadar Tambang mengikut Zon</h4>

<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <tr>
      <th colspan="6"><h5 align="center">ZON SEKITAR PUTRAJAYA</h5></th>
    </tr>
    <tr>
      <td class="info"></td>
      <td class="bold active">Zon Putrajaya</td>
      <td class="bold active">Zon Cyberjaya</td>
      <td class="bold active">Zon Desa <br/>Pinggiran Putra</td>
      <td class="bold active">Zon IOI City Mall</td>
      <td class="bold active">Zon Kg. Dato <br/>Abu Bakar Baginda</td>
    </tr>
    <tr>
      <td class="bold active">Zon Putrajaya</td>
      <td>RM0.50 Sehala</td>
      <td>RM1.50 Sehala</td>
      <td>RM1.00 Sehala</td>
      <td>RM1.50 Sehala</td>
      <td>RM1.50 Sehala</td>
    </tr>
    <tr>
      <td class="bold active">Zon Cyberjaya</td>
      <td>RM1.50 Sehala</td>
      <td>RM1.00 Sehala</td>
      <td class="danger"></td>
      <td class="danger"></td>
      <td class="danger"></td>
    </tr>
    <tr>
      <td class="bold active">Zon Desa <br/>Pinggiran Putra</td>
      <td>RM1.00 Sehala</td>
      <td class="danger"></td>
      <td>RM0.50 Sehala</td>
      <td class="danger"></td>
      <td class="danger"></td>
    </tr>
    <tr>
      <td class="bold active">Zon IOI City Mall</td>
      <td>RM1.50 Sehala</td>
      <td class="danger"></td>
      <td class="danger"></td>
      <td>RM1.00 Sehala</td>
      <td>RM1.50 Sehala</td>
    </tr>
    <tr>
      <td class="bold active">Zon Kg. Dato <br/>Abu Bakar Baginda</td>
      <td>RM1.50 Sehala</td>
      <td class="danger"></td>
      <td class="danger"></td>
      <td>RM1.50 Sehala</td>
      <td>RM1.00 Sehala</td>
    </tr>
  </table>
</div>
<br>
