<div class="col-sm-3">
<div class="nav-sidebar">
    <ul class="nav nav-pills nav-stacked">
      <li ui-sref-active="active"><a ui-sref=".overview"><i class="fa fa-caret-right">&nbsp;</i> Konsep</a></li>
      <li ui-sref-active="active"><a ui-sref=".bunting"><i class="fa fa-caret-right">&nbsp;</i> Bunting</a></li>
      <li ui-sref-active="active"><a ui-sref=".billboard"><i class="fa fa-caret-right">&nbsp;</i> Billboard</a></li>
    </ul>
  </div>
</div>
<div class="col-sm-9" ui-view> 
</div> <!-- end col-sm-9> 
