<link rel="stylesheet" href="libs/flexslider/flexslider.css">
<style>
  h5 {
    padding-bottom: 10px;
    margin-bottom: 0;
    border-bottom: .5px solid #eee;
  }
  small { 
    color: #aaa;
  }
</style>
<div class="col-sm-3">
  <div class="nav-sidebar">
    <!-- fa fa-caret-right -->
    <ul class="nav nav-pills nav-stacked">
      <li ui-sref-active="active"><a ui-sref=".bengkel"><i class="fa fa-caret-right">&nbsp;</i> Bengkel 2016</a></li>
      <li ui-sref-active="active"><a ui-sref=".mattafair2016"><i class="fa fa-caret-right">&nbsp;</i> Matta Fair 2016</a></li>
      <li ui-sref-active="active"><a ui-sref=".carta"><i class="fa fa-caret-right">&nbsp;</i> Expo PICC 2016</a></li>
      <li ui-sref-active="active"><a ui-sref=".carta"><i class="fa fa-caret-right">&nbsp;</i> Ibadah Qurban PAPTT 2016</a></li>
      <li ui-sref-active="active"><a ui-sref=".carta"><i class="fa fa-caret-right">&nbsp;</i> Jamuan Raya PAPTT 2016</a></li>
    </ul>
  </div>
</div>

<div class="col-sm-9" ui-view>
  <h3>LOREM IPSUM DOLOR SIT AMET</h3>
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
    vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
    no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
</div>
