
<h4 class="kad-park-and-ride">LATAR BELAKANG</h4>
<div>
  <p><strong>Pengangkutan Awam Putrajaya Sdn Bhd (PAPSB)</strong> telah didaftarkan pada 20 Mei 1999. Ia merupakan anak syarikat milik penuh oleh Perbadanan Putrajaya. Teras utama aktiviti perniagaan syarikat ialah menyediakan perkhidmatan pengangkutan kepada pengguna khususnya warga Putrajaya seperti berikut :</p>
  <ul class="text">
    <li>Perkhidmatan bas henti-henti (laluan tetap dan laluan terus)</li>
    <li>Perkhidmatan sewaan bas</li>
    <li>Perkhidmatan bas khas sekolah</li>
  </ul>
  <p>Selaras dengan misi Perbadanan Putrajaya dalam merancang, mengurus dan membangunkan pusat pentadbiran kerajaan persekutuan dengan cekap dan berkesan, nilai-nilai seperti kebersihan terhadap alam sekitar turut diberi perhatian. Untuk itu, penggunaan bas NGV diutamakan dan kini Syarikat mempunyai pegangan sebanyak 171 buah bas NGV, 4 buah bas diesel dan 4 buah van.</p>
  <p>Selain daripada itu PAPSB juga mengurus dan menyenggara tempat letak kereta berbayar Terminal Putrajaya Sentral, Depo bas dan Perhentian bas.</p>
</div>
